USE [master]
GO
/****** Object:  Database [QuanLiBanHang]    Script Date: 30/11/2021 8:43:21 SA ******/
CREATE DATABASE [QuanLiBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLiBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLiBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiBanHang]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCa] [varchar](255) NOT NULL,
	[buoi] [nvarchar](10) NULL,
	[ngay] [date] NULL,
	[maNhanVien] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonBanHang]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonBanHang](
	[soLuong] [int] NULL,
	[maSanPham] [varchar](255) NOT NULL,
	[maHoaDonBanHang] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDonBanHang] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhapKho]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhapKho](
	[giaNhap] [float] NULL,
	[soLuong] [int] NULL,
	[maSanPham] [varchar](255) NOT NULL,
	[maHoaDonNhapKho] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDonNhapKho] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuCuaHang]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuCuaHang](
	[maChuCuaHang] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[soCMND] [varchar](255) NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenChuCuaHang] [nvarchar](50) NULL,
	[thanhPho] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChuCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[maHangSanXuat] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[quocGia] [nvarchar](20) NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenHangSanXuat] [nvarchar](50) NULL,
	[thanhPho] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHangSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBanHang]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanHang](
	[maHoaDonBanHang] [varchar](255) NOT NULL,
	[ngayLapHoaDon] [date] NOT NULL,
	[maChuCuaHang] [varchar](255) NULL,
	[maKhachHang] [varchar](255) NULL,
	[maNhanVien] [varchar](255) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[tienKhachDua] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhapKho]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhapKho](
	[maHoaDonNhapKho] [varchar](255) NOT NULL,
	[ngayNhapKho] [date] NOT NULL,
	[maChuCuaHang] [varchar](255) NULL,
	[maNhanVien] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDonNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[soCMND] [varchar](255) NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenKhachHang] [nvarchar](50) NULL,
	[thanhPho] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoaiSanPham] [varchar](255) NOT NULL,
	[moTa] [nvarchar](200) NULL,
	[tenLoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienBanHang]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienBanHang](
	[maNhanVien] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[ngayVaoLam] [date] NULL,
	[soCMND] [varchar](255) NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenNhanVien] [nvarchar](50) NULL,
	[thanhPho] [nvarchar](20) NULL,
	[tinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [varchar](255) NOT NULL,
	[giaSanPham] [float] NULL,
	[kichThuoc] [varchar](255) NULL,
	[soLuong] [int] NULL,
	[tenSanPham] [nvarchar](50) NULL,
	[maHangSanXuat] [varchar](255) NULL,
	[maLoaiSanPham] [varchar](255) NULL,
	[mauSac] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 30/11/2021 8:43:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [varchar](255) NOT NULL,
	[ghiChu] [bit] NULL,
	[matKhau] [varchar](255) NULL,
	[quyen] [varchar](255) NULL,
	[maChuCuaHang] [varchar](255) NULL,
	[maNhanVien] [varchar](255) NULL,
	[tinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([maCa], [buoi], [ngay], [maNhanVien]) VALUES (N'CA001', N'Sáng', CAST(N'2021-10-31' AS Date), N'NV001')
INSERT [dbo].[CaLamViec] ([maCa], [buoi], [ngay], [maNhanVien]) VALUES (N'CA002', N'Chiều', CAST(N'2021-10-31' AS Date), N'NV002')
INSERT [dbo].[CaLamViec] ([maCa], [buoi], [ngay], [maNhanVien]) VALUES (N'CA003', N'Sáng', CAST(N'2021-11-01' AS Date), N'NV003')
GO
INSERT [dbo].[ChiTietHoaDonBanHang] ([soLuong], [maSanPham], [maHoaDonBanHang]) VALUES (5, N'SP001', N'BH001')
INSERT [dbo].[ChiTietHoaDonBanHang] ([soLuong], [maSanPham], [maHoaDonBanHang]) VALUES (7, N'SP002', N'BH001')
INSERT [dbo].[ChiTietHoaDonBanHang] ([soLuong], [maSanPham], [maHoaDonBanHang]) VALUES (1, N'SP007', N'BH001')
GO
INSERT [dbo].[ChiTietHoaDonNhapKho] ([giaNhap], [soLuong], [maSanPham], [maHoaDonNhapKho]) VALUES (100000, 20, N'SP001', N'NK001')
INSERT [dbo].[ChiTietHoaDonNhapKho] ([giaNhap], [soLuong], [maSanPham], [maHoaDonNhapKho]) VALUES (90000, 10, N'SP002', N'NK001')
INSERT [dbo].[ChiTietHoaDonNhapKho] ([giaNhap], [soLuong], [maSanPham], [maHoaDonNhapKho]) VALUES (100000, 30, N'SP001', N'NK002')
GO
INSERT [dbo].[ChuCuaHang] ([maChuCuaHang], [diaChi], [gioiTinh], [ngaySinh], [soCMND], [soDienThoai], [tenChuCuaHang], [thanhPho]) VALUES (N'CCH001', N'101 QL 13 P24 Bình Thạnh', 0, CAST(N'1990-03-26' AS Date), N'204567849', N'0946327458', N'Võ Hoàng Sơn', N'Hồ Chí Minh')
GO
INSERT [dbo].[HangSanXuat] ([maHangSanXuat], [diaChi], [quocGia], [soDienThoai], [tenHangSanXuat], [thanhPho]) VALUES (N'HSX001', N'27a đường số 22 KP 4 Thủ Đức', N'Việt Nam', N'0389546758', N'Việt Tiến', N'Hồ Chí Minh')
INSERT [dbo].[HangSanXuat] ([maHangSanXuat], [diaChi], [quocGia], [soDienThoai], [tenHangSanXuat], [thanhPho]) VALUES (N'HSX002', N'106 Lê Văn Sỹ P 11 Phú Nhuân.', N'Việt Nam', N'(028) 3991 9759', N'Nike Lê Văn Sỹ', N'Hồ Chí Minh')
INSERT [dbo].[HangSanXuat] ([maHangSanXuat], [diaChi], [quocGia], [soDienThoai], [tenHangSanXuat], [thanhPho]) VALUES (N'HSX003', N'', N'Việt Nam', N'0145235269', N'A Nam', N'Long An')
GO
INSERT [dbo].[HoaDonBanHang] ([maHoaDonBanHang], [ngayLapHoaDon], [maChuCuaHang], [maKhachHang], [maNhanVien], [ghiChu], [tienKhachDua]) VALUES (N'BH001', CAST(N'2021-11-01' AS Date), N'CCH001', N'KH001', N'CCH001', N'Mua mới', N'1.3e+006                                          ')
INSERT [dbo].[HoaDonBanHang] ([maHoaDonBanHang], [ngayLapHoaDon], [maChuCuaHang], [maKhachHang], [maNhanVien], [ghiChu], [tienKhachDua]) VALUES (N'BH002', CAST(N'2021-11-29' AS Date), N'CCH001', N'KH002', N'NV003', N'Mua mới', N'1.1e+006                                          ')
INSERT [dbo].[HoaDonBanHang] ([maHoaDonBanHang], [ngayLapHoaDon], [maChuCuaHang], [maKhachHang], [maNhanVien], [ghiChu], [tienKhachDua]) VALUES (N'BH003', CAST(N'2021-11-14' AS Date), N'CCH001', N'KH001', N'CCH001', N'Mua mới', N'1.2e+006                                          ')
GO
INSERT [dbo].[HoaDonNhapKho] ([maHoaDonNhapKho], [ngayNhapKho], [maChuCuaHang], [maNhanVien]) VALUES (N'NK001', CAST(N'2021-01-01' AS Date), N'CCH001', N'NV001')
INSERT [dbo].[HoaDonNhapKho] ([maHoaDonNhapKho], [ngayNhapKho], [maChuCuaHang], [maNhanVien]) VALUES (N'NK002', CAST(N'2021-02-01' AS Date), N'CCH001', N'NV006')
INSERT [dbo].[HoaDonNhapKho] ([maHoaDonNhapKho], [ngayNhapKho], [maChuCuaHang], [maNhanVien]) VALUES (N'NK003', CAST(N'2021-05-14' AS Date), N'CCH001', N'NV005')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [gioiTinh], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [thanhPho]) VALUES (N'KH001', N'47 Điện Biên Phủ P12 Bình Thạnh', 1, CAST(N'1997-01-12' AS Date), N'21345268739', N'0974256437', N'Lê Hoài Chi', N'Hồ Chí Minh')
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [gioiTinh], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [thanhPho]) VALUES (N'KH002', N'12 Nguyễn Văn Bảo P3 Gò Vấp', 1, CAST(N'1997-01-12' AS Date), N'21452456713', N'0323415367', N'Trần Thị My', N'Hồ Chí Minh')
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [gioiTinh], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [thanhPho]) VALUES (N'KH003', N'12, Phan Chu Trinh', 0, CAST(N'2004-04-12' AS Date), N'074232524512', N'0142542526', N'Lê Mỹ Châu', N'Hồ Chí Minh')
GO
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [moTa], [tenLoai]) VALUES (N'L001', N'', N'Quần')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [moTa], [tenLoai]) VALUES (N'L002', N'', N'Áo')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [moTa], [tenLoai]) VALUES (N'L003', N'', N'Mũ')
GO
INSERT [dbo].[NhanVienBanHang] ([maNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [soCMND], [soDienThoai], [tenNhanVien], [thanhPho], [tinhTrang]) VALUES (N'CCH001', N'', 0, CAST(N'1990-01-01' AS Date), CAST(N'2020-01-20' AS Date), N'014521212562', N'0214523695', N'Võ Hoàng Sơn', N'Hồ Chí Minh', 1)
INSERT [dbo].[NhanVienBanHang] ([maNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [soCMND], [soDienThoai], [tenNhanVien], [thanhPho], [tinhTrang]) VALUES (N'NV001', N'70/4 Xô Viết Nghệ Tĩnh P21', 0, CAST(N'2021-11-01' AS Date), CAST(N'2019-11-19' AS Date), N'214574961894', N'0962855956', N'Lê Mạnh An', N'Hồ Chí Minh', 1)
INSERT [dbo].[NhanVienBanHang] ([maNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [soCMND], [soDienThoai], [tenNhanVien], [thanhPho], [tinhTrang]) VALUES (N'NV002', N'280 /70/76 Bùi Hữu Nghĩa P2', 1, CAST(N'2000-04-23' AS Date), CAST(N'2021-11-01' AS Date), N'223456978', N'0346937445', N'Huỳnh Bích Trâm', N'Hồ Chí Minh', 1)
GO
INSERT [dbo].[SanPham] ([maSanPham], [giaSanPham], [kichThuoc], [soLuong], [tenSanPham], [maHangSanXuat], [maLoaiSanPham], [mauSac]) VALUES (N'SP001', 120000, N'XL', 40, N'Quần Jean', N'HSX002', N'L001', N'Xanh Dương')
INSERT [dbo].[SanPham] ([maSanPham], [giaSanPham], [kichThuoc], [soLuong], [tenSanPham], [maHangSanXuat], [maLoaiSanPham], [mauSac]) VALUES (N'SP002', 10000, N'XL', 25, N'Áo sơ mi', N'HSX001', N'L002', N'Đen ')
INSERT [dbo].[SanPham] ([maSanPham], [giaSanPham], [kichThuoc], [soLuong], [tenSanPham], [maHangSanXuat], [maLoaiSanPham], [mauSac]) VALUES (N'SP003', 450000, N'S', 34, N'Quần tây', N'HSX001', N'L001', N'Đỏ')
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [ghiChu], [matKhau], [quyen], [maChuCuaHang], [maNhanVien], [tinhTrang]) VALUES (N'CCH001', 1, N'987654', N'ChuCuaHang', N'CCH001', N'CCH001', 0)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [ghiChu], [matKhau], [quyen], [maChuCuaHang], [maNhanVien], [tinhTrang]) VALUES (N'NV001', 1, N'123456', N'Nhân viên', N'CCH001', N'NV001', 0)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [ghiChu], [matKhau], [quyen], [maChuCuaHang], [maNhanVien], [tinhTrang]) VALUES (N'NV002', 1, N'123456', N'NhA¢n viAªn', N'CCH001', N'NV002', 0)
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK4ggjel5t8l9lx4hxg9i63q2er] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienBanHang] ([maNhanVien])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK4ggjel5t8l9lx4hxg9i63q2er]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK51c7whthveloo78utuqw3112u] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang] CHECK CONSTRAINT [FK51c7whthveloo78utuqw3112u]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FKhje61l283c6na54yl19b466mc] FOREIGN KEY([maHoaDonBanHang])
REFERENCES [dbo].[HoaDonBanHang] ([maHoaDonBanHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang] CHECK CONSTRAINT [FKhje61l283c6na54yl19b466mc]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhapKho]  WITH CHECK ADD  CONSTRAINT [FKdpreks21kq8u7e2gor2psmxey] FOREIGN KEY([maHoaDonNhapKho])
REFERENCES [dbo].[HoaDonNhapKho] ([maHoaDonNhapKho])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhapKho] CHECK CONSTRAINT [FKdpreks21kq8u7e2gor2psmxey]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhapKho]  WITH CHECK ADD  CONSTRAINT [FKsm0151tvhbrfv24os533tl3m4] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhapKho] CHECK CONSTRAINT [FKsm0151tvhbrfv24os533tl3m4]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FKhojl6t1vmcx68mbgl25l6ym4a] FOREIGN KEY([maChuCuaHang])
REFERENCES [dbo].[ChuCuaHang] ([maChuCuaHang])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FKhojl6t1vmcx68mbgl25l6ym4a]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FKo7uugcoyvu2eo8lar43d8dw10] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FKo7uugcoyvu2eo8lar43d8dw10]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FKqj29jnt3qd04q0895hggg0srb] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienBanHang] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FKqj29jnt3qd04q0895hggg0srb]
GO
ALTER TABLE [dbo].[HoaDonNhapKho]  WITH CHECK ADD  CONSTRAINT [FK3yq6j9ag2s0ftqf538bps27bw] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienBanHang] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDonNhapKho] CHECK CONSTRAINT [FK3yq6j9ag2s0ftqf538bps27bw]
GO
ALTER TABLE [dbo].[HoaDonNhapKho]  WITH CHECK ADD  CONSTRAINT [FK80fr5x9can9tk0ele1idx158n] FOREIGN KEY([maChuCuaHang])
REFERENCES [dbo].[ChuCuaHang] ([maChuCuaHang])
GO
ALTER TABLE [dbo].[HoaDonNhapKho] CHECK CONSTRAINT [FK80fr5x9can9tk0ele1idx158n]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK7919bjx48denbcw9d7vbophpq] FOREIGN KEY([maHangSanXuat])
REFERENCES [dbo].[HangSanXuat] ([maHangSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK7919bjx48denbcw9d7vbophpq]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FKbvqxsijsbvtwuleneul95jswa] FOREIGN KEY([maLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([maLoaiSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FKbvqxsijsbvtwuleneul95jswa]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK45fks2rf4fepa1ka2vd7102ni] FOREIGN KEY([maChuCuaHang])
REFERENCES [dbo].[ChuCuaHang] ([maChuCuaHang])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK45fks2rf4fepa1ka2vd7102ni]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FKcfjfwytd2o6jfw5a9xo892onr] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienBanHang] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FKcfjfwytd2o6jfw5a9xo892onr]
GO
USE [master]
GO
